/* src/components/MusicPlayer.css */

.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background: linear-gradient(rgb(124, 75, 136, 0.9), rgba(169, 122, 181, 0.9));
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    height: 13.8%;
    text-align: center;
}
  
.music-info {
    display: flex;
    align-items: center;
}
  
.album-art {
    width: 80px;
    height: 80px; 
    border-radius: 5px;
    margin-right: 15px;
}
  
.song-details {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}
  
.song-name {
    font-size: 15px; 
    font-weight: bold;
}
  
.artist-name {
    font-size: 14px; 
    color: #191717;
}
  
.like-button {
    background: none;
    border: none;
    color: white;
    font-size: 18px; /* Decreased font size */
    cursor: pointer;
}
  
.music-controls, .additional-controls {
    display: flex;
    align-items: center;
    padding: 50px;

}
  
.control-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 30px; 
    height: 30px;
    margin: 0 40px 5px 0px;
    align-self: center;
}
  
.control-button:hover {
    color: #ddd;
}
